body {
	font-family: 'Roboto', sans-serif;
}

/* Product List */

/* .productContainer {
	display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
} */

.product {
	display: flex;
}

.productInfo {
	margin:24px
}


/* Header */

.logoContainer, .headingContainer {
	display:inline-block;
}
.logo {
	padding:24px;
	max-width: 100px;
	cursor: pointer;
}
.headingContainer h1 {
	font-family: 'Great Vibes', cursive;
	color:#000
}