body {
	font-family: 'Roboto', sans-serif;
}

/* Product List */

/* .productContainer {
	display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
} */

.product {
	display: flex;
}

.product img {
	max-width: 200px;
	width: 100%;
}

.productInfo {
	margin:24px
}


/* Header */

header {
	display: flex;
	align-items: center;
	border-bottom: 5px solid #000;
}

.logoContainer, .headingContainer {
	display:inline-block;
}
.logo {
	padding:24px;
	max-width: 100px;
	cursor: pointer;
}
.headingContainer h1 {
	font-family: 'Great Vibes', cursive;
	color:#000
}

/* Main */

main {
	display: flex;
}

/* Sidebar */
.btn {
	border-radius: 0;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}


/* Footer */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px;
	background-color: #000;
	color: #fff;
}